 {% extends 'administracion/base.html' %}
{% block content %}
{% load static %}
       
 
  
         
          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-md-6 col-xl-4">
                                <a href="#" class="card mb-3 widget-content bg-arielle-smile" data-toggle="tooltip-light" data-placement="top" title="Ver ordenes realizadas" style="text-decoration:none" data-step="1" data-intro="Esta vista permite ver ordenes realizadas por todos los usuarios al dia de hoy!"> 
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Ordenes realizadas</div>
                                            <div class="widget-subheading">hoy</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span>{{noorders}}</span></div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                           <div class="col-md-6 col-xl-4">
                                <a href="#" class="card mb-3 widget-content bg-happy-green" data-toggle="tooltip-light" data-placement="top" title="Ver Ordenes pendientes" style="text-decoration:none" data-step="2" data-intro="Esta vista permite ver las ordenes pendientes al dia de hoy!">
                                    <div class="widget-content-wrapper text-white" >
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Ordenes Pendientes</div>
                                            <div class="widget-subheading">hoy</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span>{{nopendingorders}}</span></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <a href="#" class="card mb-3 widget-content bg-arielle-smile" data-toggle="tooltip-light" data-placement="top" title="Ver ventas totales" style="text-decoration:none" data-step="3" data-intro="Esta vista permite ver las ventas totales al dia de hoy!">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Total de ventas</div>
                                            <div class="widget-subheading">hoy</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span>0</span></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
          </div>
          <!-- Content Row -->

          <div class="row">
                        
                        <div class="col-md-12">
                            <div class="mb-3 card">
                        <div class="tabs-lg-alternate card-header">
                            <ul class="nav nav-justified">
                                <li class="nav-item">
                                    <a href="#tab-minimal-1" data-toggle="tab" class="nav-link minimal-tab-btn-1">
                                        <div class="widget-number"><span>Q.0,0</span></div>
                                        <div class="tab-subheading">
                                            <span class="pr-2 opactiy-6">
                                                <i class="fa fa-comment-dots"></i>
                                            </span>
                                            Ventas Totales
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tab-minimal-2" data-toggle="tab" class="nav-link active minimal-tab-btn-2">
                                        <div class="widget-number">
                                            <span class="pr-2 text-success">
                                                <i class="fa fa-angle-up"></i>
                                            </span>
                                            <h3>Mejor Empleado</h3>
                                        </div>
                                        <div class="tab-subheading"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tab-minimal-3" data-toggle="tab" class="nav-link minimal-tab-btn-3">
                                        <div class="widget-number text-danger">
                                            <div class="tab-subheading">
                                                <h4 class="pr-2 opactiy-6">
                                                    <i class="fa fa-bullhorn"></i>
                                                </h4>
                                                    Producto Mas Vendido
                                                </div>
                                        </div>
                                        
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane" id="tab-minimal-1">
                                <div class="card-body">
                                    <div id="chart-combined-tab"></div>
                                </div>
                            </div>
                            <div class="tab-pane fade active show" id="tab-minimal-2">
                                <div class="card-body">
                                    <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">
                                        <div id="chart-apex-negative"></div>
                                    </div>
                                    <h5 class="card-title"> Mejores Empleados</h5>
                                    <div class="mt-3 row">
                                        <div class="col-sm-12 col-md-4">
                                            <div class="widget-content p-0">
                                                <div class="widget-content-outer">
                                                    <div class="widget-content-wrapper">
                                                        <div class="widget-content-left">
                                                            <div class="widget-numbers text-dark">65%</div>
                                                        </div>
                                                    </div>
                                                    <div class="widget-progress-wrapper mt-1">
                                                        <div class="progress-bar-xs progress-bar-animated-alt progress">
                                                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div>
                                                        </div>
                                                        <div class="progress-sub-label">
                                                            <div class="sub-label-left font-size-md">Empleado1</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <div class="widget-content p-0">
                                                <div class="widget-content-outer">
                                                    <div class="widget-content-wrapper">
                                                        <div class="widget-content-left">
                                                            <div class="widget-numbers text-dark">22%</div>
                                                        </div>
                                                    </div>
                                                    <div class="widget-progress-wrapper mt-1">
                                                        <div class="progress-bar-xs progress-bar-animated-alt progress">
                                                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100" style="width: 22%;"></div>
                                                        </div>
                                                        <div class="progress-sub-label">
                                                            <div class="sub-label-left font-size-md">Empleado2</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <div class="widget-content p-0">
                                                <div class="widget-content-outer">
                                                    <div class="widget-content-wrapper">
                                                        <div class="widget-content-left">
                                                            <div class="widget-numbers text-dark">83%</div>
                                                        </div>
                                                    </div>
                                                    <div class="widget-progress-wrapper mt-1">
                                                        <div class="progress-bar-xs progress-bar-animated-alt progress">
                                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100" style="width: 83%;"></div>
                                                        </div>
                                                        <div class="progress-sub-label">
                                                            <div class="sub-label-left font-size-md">Empleado3</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-minimal-3">
                                <div class="rm-border card-header">
                                    <div>
                                        <h5 class="menu-header-title text-capitalize text-primary">Top Productos Vendidos Esta semana</h5>
                                    </div>
                                    <div class="btn-actions-pane-right text-capitalize">
                                       
                                    </div>
                                </div>
                                <div class="card-body p-2">
                                    <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">
                                        <div style="height: 274px;">
                                            <div id="chart-combined-tab-3"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top bg-light card-header">
                                    <div class="actions-icon-btn mx-auto">
                                        <div>
                                            <div role="group" class="btn-group-lg btn-group nav">
                                                <button type="button" data-toggle="tab" href="#tab-content-income" class="btn-pill pl-3 active btn btn-focus">Ventas</button>
                                                <button type="button" data-toggle="tab" href="#tab-content-expenses" class="btn-pill pr-3  btn btn-focus">Expenses</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active fade show" id="tab-content-income" role="tabpanel">
                                            <h5 class="menu-header-title">Diferencia</h5>
                                            <h6 class="menu-header-subtitle opacity-6">Comparacion Entre Dia actual y dia anterior de las ventas realizadas</h6>
                                            <div class="mt-3 row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="card-border mb-sm-3 mb-md-0 border-light no-shadow card">
                                                        <div class="widget-content">
                                                            <div class="widget-content-outer">
                                                                <div class="widget-content-wrapper">
                                                                    <div class="widget-content-left">
                                                                        <div class="widget-heading">Ayer</div>
                                                                    </div>
                                                                    <div class="widget-content-right">
                                                                        <div class="widget-numbers line-height-1 text-primary"><span>Q.3656.00</span></div>
                                                                    </div>
                                                                </div>
                                                                <div class="widget-progress-wrapper mt-1">
                                                                    <div class="progress-bar-xs progress">
                                                                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100" style="width: 76%;"></div>
                                                                    </div>
                                                                    <div class="progress-sub-label">
                                                                        <div class="sub-label-left"></div>
                                                                        <div class="sub-label-right">100%</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="card-border border-light no-shadow card">
                                                        <div class="widget-content">
                                                            <div class="widget-content-outer">
                                                                <div class="widget-content-wrapper">
                                                                    <div class="widget-content-left">
                                                                        <div class="widget-heading">Hoy</div>
                                                                    </div>
                                                                    <div class="widget-content-right">
                                                                        <div class="widget-numbers line-height-1 text-success"><span>Q.2797.54</span></div>
                                                                    </div>
                                                                </div>
                                                                <div class="widget-progress-wrapper mt-1">
                                                                    <div class="progress-bar-xs progress-bar-animated progress">
                                                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style="width: 23%;"></div>
                                                                    </div>
                                                                    <div class="progress-sub-label">
                                                                        <div class="sub-label-left"></div>
                                                                        <div class="sub-label-right">100%</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab-content-expenses" role="tabpanel">
                                            <h5 class="menu-header-title">Cantidad De Pedidos</h5>
                                            <h6 class="menu-header-subtitle opacity-6">Diferencia cantidad de pedidos entre el dia actual y un dia anterior</h6>
                                            <div class="mt-3 row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="card-hover-shadow-2x mb-sm-3 mb-md-0 widget-chart widget-chart2 bg-premium-dark text-left card">
                                                        <div class="widget-chart-content text-white">
                                                            <div class="widget-chart-flex">
                                                                <div class="widget-title">Ayer</div>
                                                                <div class="widget-subtitle opacity-7">Ganancia</div>
                                                            </div>
                                                            <div class="widget-chart-flex">
                                                                <div class="widget-numbers text-success">
                                                                    <small>%</small>
                                                                    87
                                                                    <small class="opacity-8 pl-2">
                                                                        <i class="fa fa-angle-up"></i>
                                                                    </small>
                                                                </div>
                                                                <div class="widget-description ml-auto opacity-7">
                                                                    <i class="fa fa-angle-up"></i>
                                                                    <span class="pl-1">145%</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="card-hover-shadow-2x widget-chart widget-chart2 bg-premium-dark text-left card">
                                                        <div class="widget-chart-content text-white">
                                                            <div class="widget-chart-flex">
                                                                <div class="widget-title">Hoy</div>
                                                                <div class="widget-subtitle text-warning">Perdida</div>
                                                            </div>
                                                            <div class="widget-chart-flex">
                                                                <div class="widget-numbers text-warning">65
                                                                    <small>%</small>
                                                                    <small class="opacity-8 pl-2">
                                                                        <i class="fa fa-angle-down"></i>
                                                                    </small>
                                                                </div>
                                                                <div class="widget-description ml-auto text-warning"><span class="pr-1">45</span>
                                                                    <i class="fa fa-angle-up"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xl-4">
                            <div class="card mb-3 widget-content">
                                <div class="widget-content-outer">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Total De Ordenes</div>
                                            <div class="widget-subheading">Estadistica Ultimo Mes</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-success">1896</div>
                                        </div>
                                    </div>
                                    <div class="widget-progress-wrapper">
                                        <div class="progress-bar-sm progress">
                                            <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100" style="width: 71%;"></div>
                                        </div>
                                        <div class="progress-sub-label">
                                            <div class="sub-label-left">Ordenes Confirmadas</div>
                                            <div class="sub-label-right">100%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="card mb-3 widget-content">
                                <div class="widget-content-outer">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left">
                                            <div class="widget-heading"></div>
                                            <div class="widget-subheading">Porcentaje Meta Superada</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-warning">%95</div>
                                        </div>
                                    </div>
                                    <div class="widget-progress-wrapper">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress">
                                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                                        </div>
                                        <div class="progress-sub-label">
                                            <div class="sub-label-left"></div>
                                            <div class="sub-label-right">100%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="card mb-3 widget-content">
                                <div class="widget-content-outer">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Ordenes Canceladas</div>
                                            <div class="widget-subheading">Canceladas Antes De entrega</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-danger">45,9%</div>
                                        </div>
                                    </div>
                                    <div class="widget-progress-wrapper">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="46" aria-valuemin="0" aria-valuemax="100" style="width: 46%;"></div>
                                        </div>
                                        <div class="progress-sub-label">
                                            <div class="sub-label-left">Deficit de Capital</div>
                                            <div class="sub-label-right">100%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-xl-none d-lg-block col-md-6 col-xl-4">
                            <div class="card mb-3 widget-content">
                                <div class="widget-content-outer">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Income</div>
                                            <div class="widget-subheading">Expected totals</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-focus">$147</div>
                                        </div>
                                    </div>
                                    <div class="widget-progress-wrapper">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress">
                                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100" style="width: 54%;"></div>
                                        </div>
                                        <div class="progress-sub-label">
                                            <div class="sub-label-left">Expenses</div>
                                            <div class="sub-label-right">100%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
      <!-- End of Main Content -->
      <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="card-hover-shadow-2x mb-3 card">
                                <div class="card-header-tab card-header">
                                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i class="header-icon lnr-database icon-gradient bg-malibu-beach"> </i>Tasks List</div>
                                    <div class="btn-actions-pane-right text-capitalize actions-icon-btn">
                                        <div class="btn-group dropdown">
                                            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-menu btn-icon-wrapper"></i></button>
                                            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-right rm-pointers dropdown-menu-shadow dropdown-menu-hover-link dropdown-menu"><h6 tabindex="-1" class="dropdown-header">Header</h6>
                                                <button type="button" tabindex="0" class="dropdown-item"><i class="dropdown-icon lnr-inbox"> </i><span>Menus</span></button>
                                                <button type="button" tabindex="0" class="dropdown-item"><i class="dropdown-icon lnr-file-empty"> </i><span>Settings</span></button>
                                                <button type="button" tabindex="0" class="dropdown-item"><i class="dropdown-icon lnr-book"> </i><span>Actions</span></button>
                                                <div tabindex="-1" class="dropdown-divider"></div>
                                                <div class="p-3 text-right">
                                                    <button class="mr-2 btn-shadow btn-sm btn btn-link">View Details</button>
                                                    <button class="mr-2 btn-shadow btn-sm btn btn-primary">Action</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="scroll-area-lg">
                                    <div class="scrollbar-container">
                                        <div class="p-2">
                                            <ul class="todo-list-wrapper list-group list-group-flush">
                                                
                                                <li class="list-group-item">
                                                    <div class="todo-indicator bg-focus"></div>
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left mr-2">
                                                                <div class="custom-checkbox custom-control"><input type="checkbox" id="exampleCustomCheckbox1" class="custom-control-input"><label class="custom-control-label" for="exampleCustomCheckbox1">&nbsp;</label>
                                                                </div>
                                                            </div>
                                                            <div class="widget-content-left">
                                                                <div class="widget-heading">Solicitud Permiso</div>
                                                                <div class="widget-subheading">
                                                                    <div>De Mario
                                                                        <div class="badge badge-pill badge-info ml-2">Nueva</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="widget-content-right widget-content-actions">
                                                                <div class="d-inline-block dropdown">
                                                                    <button type="button" data-toggle="dropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false" class="border-0 btn-transition btn btn-link">
                                                                        <i class="fa fa-ellipsis-h"></i>
                                                                    </button>
                                                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right"><h6 tabindex="-1" class="dropdown-header">Menu</h6>
                                                                        <button type="button" disabled="" tabindex="-1" class="disabled dropdown-item">Aprobar</button>
                                                                        <button type="button" tabindex="0" class="dropdown-item">Eliminar</button>
                                                                        <div tabindex="-1" class="dropdown-divider"></div>
                                                                        <button type="button" tabindex="0" class="dropdown-item">Modificar</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="todo-indicator bg-primary"></div>
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left mr-2">
                                                                <div class="custom-checkbox custom-control"><input type="checkbox" id="exampleCustomCheckbox4" class="custom-control-input"><label class="custom-control-label"  for="exampleCustomCheckbox4">&nbsp;</label>
                                                                </div>
                                                            </div>
                                                            <div class="widget-content-left flex2">
                                                                <div class="widget-heading">Reunion</div>
                                                                <div class="widget-subheading">Descripcion de tarea</div>
                                                            </div>
                                                            <div class="widget-content-right widget-content-actions">
                                                                <button class="border-0 btn-transition btn btn-outline-success">
                                                                    <i class="fa fa-check"></i>
                                                                </button>
                                                            </div>
                                                            <div class="widget-content-right ml-3">
                                                                <div class="badge badge-pill badge-success">Imporante </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="todo-indicator bg-info"></div>
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left mr-2">
                                                                <div class="custom-checkbox custom-control"><input type="checkbox" id="exampleCustomCheckbox2" class="custom-control-input"><label class="custom-control-label" for="exampleCustomCheckbox2">&nbsp;</label>
                                                                </div>
                                                            </div>
                                                            <div class="widget-content-left mr-3">
                                                                <div class="widget-content-left">
                                                                    <img width="42" class="rounded" src="../assets/images/avatars/1.jpg" alt="">
                                                                </div>
                                                            </div>
                                                            <div class="widget-content-left">
                                                                <div class="widget-heading">Realizar Inventario</div>
                                                                <div class="widget-subheading">Necesitas Realizar Este inventario</div>
                                                            </div>
                                                            <div class="widget-content-right widget-content-actions">
                                                                <button class="border-0 btn-transition btn btn-outline-success">
                                                                    <i class="fa fa-check"></i>
                                                                </button>
                                                                <button class="border-0 btn-transition btn btn-outline-danger">
                                                                    <i class="fa fa-trash-alt"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                               
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-block text-right card-footer">
                                    <button class="mr-2 btn btn-link btn-sm">Cancelar</button>
                                    <button class="btn btn-primary">Agregar Tarea</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="card-hover-shadow-2x mb-3 card">
                                <div class="card-header-tab card-header">
                                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i class="header-icon lnr-printer icon-gradient bg-ripe-malin"> </i>Chat</div>
                                    <div class="btn-actions-pane-right text-capitalize actions-icon-btn">
                                        <div class="btn-group dropdown">
                                            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-menu btn-icon-wrapper"></i></button>
                                            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-right rm-pointers dropdown-menu-shadow dropdown-menu-hover-link dropdown-menu"><h6 tabindex="-1" class="dropdown-header">Header</h6>
                                                <button type="button" tabindex="0" class="dropdown-item"><i class="dropdown-icon lnr-inbox"> </i><span>Regresar a Lista</span></button>
                                                <button type="button" tabindex="0" class="dropdown-item"><i class="dropdown-icon lnr-file-empty"> </i><span>Ayuda</span></button>
                                                <button type="button" tabindex="0" class="dropdown-item"><i class="dropdown-icon lnr-book"> </i><span>Herramientas</span></button>
                                                <div tabindex="-1" class="dropdown-divider"></div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="scroll-area-lg">
                                    <div class="scrollbar-container">
                                        <div class="p-2">
                                            <div class="chat-wrapper p-1">
                                                
                                                
                                                
                                               
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <input placeholder="Redacta Un Mensaje..." type="text" class="form-control-sm form-control">
                                </div>
                            </div>
                        </div>
                    </div>


<!--Apex Charts-->
<script src="{% static 'administracion/assets/js/vendors/charts/apex-charts.js' %}"></script>
<!--Apex Charts-->
<script src="{% static 'administracion/assets/js/scripts-init/charts/apex-charts.js' %}"></script>
<script src="{% static 'administracion/assets/js/scripts-init/charts/apex-series.js' %}"></script>

<script type="text/javascript">
window.Apex = {
    dataLabels: {
        enabled: false
    },
    stroke: {
        width: 2
    },
};
 
var randomizeArray = function (arg) {
    var array = arg.slice();
    var currentIndex = array.length,
        temporaryValue, randomIndex;

    while (0 !== currentIndex) {

        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;

        temporaryValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = temporaryValue;
    }

    return array;
};
var sparklineData = [47, 45, 54, 38, 56, 24, 65, 31, 37, 39, 62, 51, 35, 41, 35, 27, 93, 53, 61, 27, 54, 43, 19, 46];

var dashSparkLinesSimple3 = {
    chart: {
        type: 'area',
        height: 120,
        sparkline: {
            enabled: true
        },
    },
    tooltip: {
        enabled: false,
    },
    colors: ['#f7b924'],
    stroke: {
        width: 3,
        curve: 'smooth'
    },

    markers: {
        size: 0
    },
    series: [{
        data: [0,0,0],
    }],
    yaxis: {
        min: 0
    },
};

 var options3 = {
    chart: {
        height: 350,
        type: 'bar',
    },
    plotOptions: {
        bar: {
            horizontal: false,
            endingShape: 'rounded',
            columnWidth: '55%',
        },
    },
    dataLabels: {
        enabled: false
    },
    stroke: {
        show: true,
        width: 2,
        colors: ['transparent']
    },

series: [
    {%for S in Serv%}
    {
        name: '{{S.service}}',

        data: [
        {%for c in Services%}
        {%if c.service == S.service %}
        {{c.Count}},
        {%endif%}
        {%endfor%}
        ]
    },

    {%endfor%}
     ],

    xaxis: {
        categories: [
        {%for month in months%}
        '{{month.month}}', 
          {%endfor%}
        ],
    },
    yaxis: {
        title: {
            text: 'No (Services)'
        }
    },
    fill: {
        opacity: 1

    },
    tooltip: {
        y: {
            formatter: function (val) {
                return  val + " Services";
            }
        }
    }
};


var chart3 = new ApexCharts(
    document.querySelector("#chart-apex-column"),
    options3
);



$( document ).ready(function() {
 
setTimeout(function () {
  if (document.getElementById('chart-apex-column')) {
            chart3.render();
        }
    if (document.getElementById('dashboard-sparkline-carousel-3')) {
            new ApexCharts(document.querySelector("#dashboard-sparkline-carousel-3"), dashSparkLinesSimple3).render();
        }
 
      } , 1000);
$('.dd-chart-btn').one('click', function () {

        setTimeout(function () {
            if (document.getElementById('dashboard-sparkline-carousel-3-pop')) {
                new ApexCharts(document.querySelector("#dashboard-sparkline-carousel-3-pop"), dashSparkLinesSimple3).render();
            }
        }, 500);

    });
});



</script>
    {% endblock %}